* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #91C8E4;
    color: #FFFBDE;
}
header{
    background-color: #4682A9;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    left: 0px;
    height: 100%;
    background-color: #749BC2;
    position: fixed;
    top: 50px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: top;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: column;
}
button{
    background-color: #749BC2;
    width: 28px;
    height: 28px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #FFFBDE;
    text-align: center;
    color: #FFFBDE;
    transition: background-color 0.2s ease,opacity 0.2s ease ;
}
button:hover{
    opacity: 0.7;
}
button:active{
    background-color: #4f84b8;
}
.title{
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.btn-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;

}
.nav-content{
    margin-top: 50px;
    left: 5px;
    right: 5px;
}
form{
    margin-left: 280px;
    margin-top: 100px;
    color: #FFFBDE;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#optionn{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}
#nav-butt{
    margin-top: 100px;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #FFFBDE;
}
.btm-btn,#newbtn{
    width: 150px;
    height: 40px;
}
#newbtn{
    margin-top: 75px;
}
.contain{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8); /* Darken background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    display: none;
    font-size: 100px;
}